/* UNIVERSAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #DFE0E1;
  font-family: "Anta", sans-serif;
}

.container {
  background-color: #222831;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: 10% repeat(3, auto);
  gap: 4px;
}

#nav {
  grid-column: 2 / 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  font-weight: bold;
}

#nav-title {
  transition: transform 0.5s ease, opacity 0.5s ease; /* Transiciones suaves de escala y opacidad */
}

#nav:hover #nav-title {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  opacity: 0.8; /* Reduce ligeramente la opacidad */
}

#side-bar {
  background-color: #393E46;
  grid-column: 1;
  grid-row: 1 / span 4;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  font-size: 3vh;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.52, 1.275);
}

#profile {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}

.users {
  background-color: #161a1e;
  max-height: 25vh;
  padding: 0 2vh;
  border-radius: 15px;
  position: absolute;
  left: 2.5vh;
  top: 10vh;
}

.name {
  margin: 1vh 0;
}

.name:hover {
  color: gray;
  cursor: pointer;
}

.side-bar-options {
  margin-top: 15vh;
  margin-left: 3vh;
  display: flex;
  flex-direction: column;
}

.side-bar-options > span {
  cursor: pointer;
  transition: color 0.6s ease, transform 0.6s ease;
  margin-bottom: 50px; /* Espacio entre los botones */
}

.side-bar-options > span:hover {
  color: #FFD369;
  transform: translateY(-3px);
}


.side-bar-footer {
  text-align: center;
}

.main {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #nav {
    grid-column: 1;
    grid-row: 1;
  }

  #side-bar {
    grid-column: 1;
    grid-row: 2;
  }

  .main {
    grid-column: 1;
    grid-row: 3;
  }

  .side-bar-options {
    margin-top: 5vh;
  }
}

/* Hover Animations */
.profile:hover {
  transform: scale(1.1) rotate(5deg);
  cursor: pointer;
}

.side-bar-options > span:hover {
  color: #FFD369;
  transform: translateY(-3px);
}

/* Scroll Bar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width:5px;
}

/* No sé qué hace, pero si lo dejo así, se mantiene la scrollbar como me gusta */
::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
  /* display: none; */
} 
::-webkit-scrollbar-thumb {
  background-color: #666;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
  background-color: #333;
}

.hidden {
  display: none;
}